@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap");
body {
  font-family: "Mulish";
}
.clock {
  font-size: 10rem;
  font-family: "Mulish" !important;
}
.trade-nav{
  border-radius: 0.2rem;
  background-color:#001253 ;
  color: white;
}